<!DOCTYPE html>
<html lang="en">

<head>
  <title>TODO list</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Fira+Sans&display=swap" rel="stylesheet">
</head>

<body>
  <div id="heading">
    <h1>
      <%= today %>
    </h1>
  </div>
  <div class="box">
    <% for (let i=0; i < items.length; i++) { %>
      <div class="item">
        <input type="checkbox">
        <p>
          <%= items[i] %>
        </p>
      </div>
      <%}%>
        <form class="item" action="/" method="post">
          <input type="text" name="item" placeholder="New TODO">
          <div>
            <button type="submit">+</button>
          </div>
        </form>
  </div>
</body>

</html>
