body {
  background-color: #1A1A1A;
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  font-family: 'Comfortaa', cursive;
  color: #E6E6E6;
  padding: 1rem;
}

.box {
  max-width: 25rem;
  margin: 2.5rem auto;
  background: #1A1A1A;
  border-radius: 2rem;
  box-shadow: 0rem 0rem 2rem 0.10rem #000000;
}

#heading {
  max-width: 40rem;
  margin: 2rem auto;
  font-size: 2rem;
  background-color: #8000FF;
  border-radius: 2rem;
  text-align: center;
}

.item {
  min-height: 4rem;
  display: flex;
  align-items: center;
}

input:checked+p {
  text-decoration-color: #8000FF;
  text-decoration-line: line-through;
  text-decoration-thickness: 0.2rem;
}

input[type="checkbox"] {
  margin: 1rem;
}

p {
  padding: 1rem;
  font-size: 1.5rem;
  color: #E6E6E6;
}

form {
  text-align: center;
}

button {
  min-height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  background-color: #8000FF;
  color: #E6E6E6;
  font-size: 3rem;
  margin-left: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 4rem;
  top: 1rem;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  width: 80%;
}

input[type="text"]:focus {
  outline: none;
  font-size: 1.5rem;
  color: #E6E6E6;
}

::placeholder {
  color: #808080;
  opacity: 1;
}
